[tool.poetry]
name = "merchants"
version = "2024.9.16"
description = "A unified payment processing toolkit for Starlette/FastAPI applications"
authors = ["Mario Hernandez <mariofix@proton.me>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/mariofix/merchants"
homepage = "https://mariofix.github.io/merchants"
keywords = [
    "payment",
    "psp",
    "payment-gateway",
    "payment-integration",
    "payment-processing",
    "payment-hub",
    "payment-platform",
    "fastapi",
    "starlette",
]
packages = [{ include = "merchants" }, { include = "alembic" }]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Libraries :: Python Modules",
]

[tool.poetry.dependencies]
python = "^3.10"
thankyou = "^0.0.3"
pendulum = "^3.0.0"
httpx = "^0.28.0"
python-slugify = "^8.0.4"

alembic = "^1.13.2"
sqlalchemy = "^2.0.35"
sqlalchemy-utils = "^0.41.2"

fastapi = { extras = ["all"], version = "^0.115.0" }
starlette-admin = { version = "^0.14.1" }

stripe = { version = "^11.1.0", optional = true }

[tool.poetry.extras]
stripe = ["stripe"]
all = ["stripe"]

[tool.poetry.group.dev.dependencies]
pytest = "^8.3.3"
pytest-asyncio = "^0.25.0"
coverage = "^7.6.1"
black = "^24.8.0"
pre-commit = "^4.0.0"
rich = "^13.7.1"
mkdocs-material = "^9.5.35"
mkdocstrings = { version = "^0.29.0", extras = ["python"] }
fastapi-debug-toolbar = "^0.6.3"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.pytest.ini_options]
addopts = "-ra"
testpaths = ["tests"]
python_files = ["test*.py"]


[tool.black]
line-length = 119
target-version = ['py310']
include = '\.pyi?$'

[tool.ruff]
line-length = 119
target-version = "py310"

[tool.bandit]
exclude_dirs = ["tests"]
skips = ["B101", "B601"]
